*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
}
button{
    margin-top: 10px;
    align-content: center;
    margin-left: 400px;
    padding: 30px;
}